body 
{

}
#tblReport
{
	margin-right:auto;
	margin-left:auto;	
	border-color:#ffcc00;
	border-style:inset;
	border-radius:10px;
	width:950px;
	height:250px;
	vertical-align:top;  
	padding:2px 5px 5px 10px;
	font-family:Times New Roman;
	font-size:12px;
	color:#ff6600;
}
td
{
 vertical-align:top; 
 width:25%;
 
}
.BoxTitle
{
	font-family:Times New Roman;
	font-size:14px;
	color:Red;
	font-weight:bold;	
}


